<h1>🛒 Mi carrito</h1>

{{#if cart.products.length}}
  <ul>
    {{#each cart.products}}
      <li>
        <h3>{{this.product.title}}</h3>
        <p>Precio: ${{this.product.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
      </li>
    {{/each}}
  </ul>

  <button onclick="clearCart()">Vaciar carrito</button>

{{else}}
  <p>El carrito está vacío 😢</p>
{{/if}}

<br>
<a href="/products">⬅ Volver a productos</a>

<script>
  const CART_ID = "{{cart._id}}";

  async function clearCart() {
    try {
      await fetch(`/api/carts/${CART_ID}`, {
        method: "DELETE"
      });
      location.reload();
    } catch (error) {
      alert("Error al vaciar carrito");
    }
  }
</script>